[Unit]
Description=Intune Agent scheduler
DefaultDependencies=no
PartOf=graphical-session.target
After=graphical-session.target

[Timer]
AccuracySec=2m
OnStartupSec=5m
OnUnitActiveSec=1h
RandomizedDelaySec=10m

[Install]
WantedBy=graphical-session.target
